.cabecalho {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.cabecalho-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  padding: 1rem 0;
}

.cabecalho-nav__menu {
  height: 40px;
  position: relative;
  z-index: 10;
  width: 40px;
}

.cabecalho-nav__menu:hover {
  background-color: var(--verde-escuro);
  border-radius: 50%;
  cursor: pointer;
}

.cabecalho-nav__titulo {
  color: var(--verde);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cabecalho-nav__lista {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  position: absolute;
  top: 0.5rem;
  pointer-events: none;
  transition: 0.5s;
}

.menu__nav {
  background-color: var(--preto);
  pointer-events: initial;
}
.cabecalho-nav__lista--item {
  list-style: none;
  margin: 1rem 0;
  position: relative;
  opacity: 0;
  z-index: -10;
}

.menu__lista--item {
  z-index: 1;
  opacity: 1;
}

.cabecalho-nav__lista--item:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.cabecalho-nav__lista--link {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1rem;
}

.cabecalho-nav__lista--link1::before {
  content: url("../img/home.png");
  position: absolute;
  top: -2px;
  left: -20px;
  display: flex;
}

.cabecalho-nav__lista--link2::before {
  content: url("../img/sobre.png");
  position: absolute;
  top: -2px;
  left: -20px;
  display: flex;
}

.cabecalho-nav__lista--link3::before {
  content: url("../img/formacao.png");
  position: absolute;
  top: -2px;
  left: -20px;
  display: flex;
}

.cabecalho-nav__lista--link4::before {
  content: url("../img/projetos.png");
  position: absolute;
  top: -2px;
  left: -20px;
  display: flex;
}

.cabecalho-nav__lista--link5::before {
  content: url("../img/contato.png");
  position: absolute;
  top: -2px;
  left: -20px;
  display: flex;
}

.cabecalho-nav__lista--link:hover {
  border-bottom: 4px solid var(--verde);
}

.cabecalho-nav__bandeiras--br,
.cabecalho-nav__bandeiras--usa {
  padding: 0 4px;
  height: 35px;
  width: 35px;
}

.cabecalho-nav__bandeiras--br:hover,
.cabecalho-nav__bandeiras--usa:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.scroll__desce {
  background-color: var(--pretoScroll);
  opacity: 0.9;
  transition: 0.5s;
}

.scroll__sobe {
  background-color: transparent;
  transition: 0.5s;
}

@media screen and (max-width: 980px) {
  .cabecalho-nav__titulo {
    font-size: 24px;
  }

  .cabecalho-nav__lista--link {
    font-size: 1.5rem;
    padding: 1rem 0.6rem;
  }

  .cabecalho-nav__lista--item:nth-child(1) {
    margin-top: 3rem;
  }
  .cabecalho-nav__lista {
    margin-top: 1rem;
  }

  .cabecalho-nav__bandeiras--br,
  .cabecalho-nav__bandeiras--usa {
    height: 35px;
    width: 35px;
  }
}
