.rodape {
  align-items: center;
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rodape-titulo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.rodape-titulo__texto {
  color: var(--branco);
  font-size: 32px;
  font-weight: 700;

  width: 135px;
  border-bottom: 2px solid var(--verde);
  box-shadow: 2px 1px 1px var(--branco);
}

.rodape-principal {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.rodape-principal__link {
  text-decoration: none;
}

.rodape-principal__link:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.rodape-principal__div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rodape-principal__div--img {
  height: 40px;
  width: 40px;
}

.rodape-principal__div--img:hover {
  background-color: var(--verde);
  border-radius: 5px;
}

.rodape-principal__div--titulo {
  color: var(--verde);
  margin: 1rem 0;
  font-size: 20px;
}

.rodape-principal__div--contexto {
  color: var(--cinza);
  font-size: 16px;
}
.rodape-subtitulo {
  color: var(--cinza);
  font-size: 14px;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.link-topo {
  opacity: 0;
  transition: 0.5s;
  position: fixed;
  right: 10px;
  bottom: 0;
}

.link-topo-add {
  opacity: 0.8;
}

@media screen and (max-width: 980px) {
  .rodape-titulo {
    margin-bottom: 3rem;
  }
  .rodape-principal {
    flex-direction: column;
  }

  .rodape-principal__link {
    margin: 2rem 0;
  }

  .rodape-subtitulo {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    margin-top: 2rem;
  }

  .link-topo-img {
    width: 50px;
    height: 50px;
  }
}
