.formacao {
  margin-top: 7rem;
  width: 100%;
}

.formacao-titulo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.formacao-titulo__texto {
  border-bottom: 2px solid var(--verde);
  box-shadow: 2px 1px 1px black;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 160px;
}

.formacao-td {
  display: flex;
  flex-flow: row wrap;
  margin: 0 2rem;
}

.formacao-td__div {
  border: 1px solid var(--preto);
  box-shadow: 10px -8px var(--verde);
  display: flex;
  flex-grow: 1;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
}

.formacao-td__div--titulo {
  margin-bottom: 1rem;
}

.formacao-td__div--subtitulo {
  margin-bottom: 1rem;
  font-size: 17px;
}

.formacao-td__div--subtitulo::before,
.formacao-td__div--subtitulo::after {
  color: var(--verde);
  content: "|";
  margin: 4px;
}

.formacao-td__div--paragrafo {
  margin-bottom: 3rem;
}

.formacao-td__div--link {
  border: 1px solid var(--preto);
  border-radius: 25px;
  box-shadow: 4px 3px 3px black;
  color: var(--preto);
  font-weight: bold;
  padding: 0.6rem 2rem;
  text-decoration: none;
}

.formacao-td__div--link:hover {
  background-color: var(--verde);
  color: var(--branco);
}

.formacao-td__div--tempo {
  font-weight: bolder;
  margin-bottom: 5rem;
}

@media screen and (max-width: 760px) {
  .formacao {
    margin-top: 3rem;
    padding: 0;
  }

  .formacao-td {
    flex-flow: column;
    margin: 0;
  }

  .formacao-td__div {
    margin: 2rem;
  }
}
