.principal {
  background: url("../img/code_fundo.jpg") no-repeat center / cover;
  width: 100%;
  height: 100%;
  padding-top: 12rem;
  padding-bottom: 6.2rem;
}
.principal-div {
  width: 100%;
  position: relative;
}

.principal__div--nome {
  text-align: center;
  color: var(--branco);
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}

.principal__div--profissao {
  text-align: center;
  color: var(--branco);
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.principal__div--profissao::before {
  margin: 12px;
  content: "|";
  color: var(--verde);
}

.principal__div--profissao::after {
  margin: 12px;
  content: "|";
  color: var(--verde);
}

.principal__div-icones {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal__div-icones--curriculo {
  text-decoration: none;
  background-color: var(--branco);
  margin-right: 1rem;
  padding: 0.6rem;
  border-radius: 50px;
  font-weight: 600;
  color: var(--preto);
}

.principal__div-icones--curriculo:hover {
  background-color: var(--verde);
}

.principal__div-icones--link {
  text-align: center;
}

.principal__div-icones--redes {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

.principal__div-icones--redes:hover {
  background-color: var(--verde);
  border-radius: 5px;
}

.principal__img {
  position: absolute;
  width: 100%;
  height: 100px;
}
