.carrossel {
  width: 100%;
  margin: 5rem 0;
}

.carrossel-div {
  margin: 0 2rem;
}

.carrossel-div-titulo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.carrossel-div-titulo__texto {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 3rem;
  width: 140px;
  border-bottom: 2px solid var(--verde);
  box-shadow: 2px 1px 1px black;
}

.carrossel-div__slide--titulo {
  color: var(--branco);
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.swiper {
  width: 90%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-right-radius: 50px;
}

.carrossel-div__slide--img {
  width: 100%;
}

.carrossel-div-acesso {
  width: 100%;
  background-color: var(--preto);
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: space-around;
  padding: 0.9rem 0;
  border-bottom-right-radius: 50px;
  z-index: 1;
}

.carrossel-divAcesso {
  opacity: 1;
}

.carrossel-divTitulo {
  z-index: -1;
  transition: 0.5s;
}

.carrossel-div-acesso__img {
  width: 25px;
  height: 25px;
}

.carrossel-div-acesso__img:hover {
  background-color: var(--verde);
  border-radius: 5px;
}

.carrossel-div-acesso__link {
  color: var(--preto);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: end;
  background-color: var(--branco);
  padding: 0.3rem;
  border-radius: 25px;
}

.carrossel-div-acesso__link:hover {
  color: var(--branco);
  background-color: var(--verde);
}

.slide__fundo::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 51px);
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 55px;
  background-image: linear-gradient(90deg, var(--verde) 0%, var(--verde-escuro) 92.32%);
  z-index: 2;
}

.swiper .swiper-slide {
  transition: 300ms all;
  -webkit-transition: 300ms all;
}

.swiper .swiper-slide:hover {
  transform: scale(1.2);
  z-index: 1;
  -webkit-transform: scale(1.2);
}

.swiper-pagination {
  margin-top: 2rem;
  position: initial;
}

.swiper-pagination-bullet-active {
  background: var(--preto);
}

.swiper-pagination-bullet {
  border-radius: 0;
  height: 3px;
  width: 15px;
}

.swiper-button-prev {
  color: var(--branco);
  left: 0;
  top: 0;
  height: calc(100% - 51px);
  width: 3%;
}

.swiper-button-next {
  color: var(--branco);
  right: 0;
  top: 0;
  height: calc(100% - 51px);
  width: 3%;
}

@media screen and (max-width: 980px) {
  .carrossel {
    margin: 2rem 0;
  }

  .carrossel-div__slide--titulo {
    position: absolute;
    width: 100%;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .swiper {
    padding-top: 1rem;
  }

  .swiper-button-prev {
    height: 0;
  }

  .swiper-button-next {
    height: 0;
  }

  .swiper-pagination {
    margin-top: 1rem;
  }

  .carrossel-div-acesso {
    opacity: 1;
  }
}
