.sobre {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.sobre__img {
  height: 312px;
  width: 312px;
  border-radius: 50%;
}

.sobre__descricao {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 7rem;
}

.sobre__descricao--titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sobre__descricao--paragrafo {
  font-size: 18px;
}

.sobre__descricao--subtiulo {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sobre__descricao-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sobre__descricao-div2 {
  margin-right: 2rem;
  background-color: var(--preto);
  padding: 1rem;
  border-radius: 15px 0 0 0;
  border-bottom: 4px solid var(--verde);
  transition: 0.2s;
  height: 70px;
  width: 70px;
}

.sobre__descricao-div2--img {
  height: 40px;
  width: 40px;
  padding: 1rem;
}

.sobre__descricao-div2:hover {
  transform: scale(1.1);
}

.sobre__descricao-div2--titulo {
  font-size: 14px;
  color: var(--verde);
}
