@import url(cabecalho.css);
@import url(principal.css);
@import url(sobre.css);
@import url(formacao.css);
@import url(contato.css);
@import url(projetos.css);

:root {
  --branco: #ffffff;
  --preto: #000000;
  --pretoScroll: #141414;
  --verde: #00d6a2;
  --verde-escuro: #038363;
  --cinza: #d4d4d4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
